@charset "utf-8";
/* CSS Document */
figure,
h2,
section {
	margin-left:auto;
	margin-right:auto;
	background-repeat:no-repeat;
	background-position:center top;
	}		
/*iphone-nav*/
.iphone-nav,
.iphone-body {
	text-align:center;
	overflow:hidden;
	}
.iphone-nav a:hover,
.iphone-body a:hover {
	text-decoration:underline;
	}	
.iphone-nav {
	background-color:#f7f7f7;
	}
.iphone-nav {
	white-space:nowrap;
	overflow:hidden;
	}	
.iphone-nav figure {
	margin-bottom:6px;
	}		
.iphone-nav li {
	display:inline-block;
	padding:60px 22px 20px 22px;
	}
.iphone-nav a {
	display:block;
	font-size:12px;
	-webkit-transition:color 0.35s ease-in;
	transition:color 0.35s ease-in;
	}
.iphone-nav a:hover {
	color:#999;
	}
.iphone-nav a.selected {
	color:#999;
	}			
.iphone-nav-6s-image {
	width:38px;
	height:54px;
	background-image:url(../svg/iphone6s_large.svg);
	background-size:38px 54px;
	}
.iphone-nav-6-image {
	width:38px;
	height:54px;
	background-image:url(../svg/iphone6_large.svg);
	background-size:38px 54px;
	}
.iphone-nav-5s-image {
	width:18px;
	height:54px;
	background-image:url(../svg/iphone5s_large.svg);
	background-size:18px 54px;
	}
.iphone-nav-access-image {
	width:32px;
	height:54px;
	background-image:url(../svg/iphone_acc_large.svg);
	background-size:32px 54px;
	}
.iphone-nav-compare-image {
	width:50px;
	height:54px;
	background-image:url(../svg/iphone_comp_large.svg);
	background-size:50px 54px;
	}

/*iphone-body*/
.iphone-article-middle {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
	}
.iphone-article-middle-x {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	}
.iphone-article-middle-y {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	}		
.iphone-body {
	position:relative;
	}
.iphone-body section {
	position:relative;
	padding-top:90px;
	padding-bottom:90px;
	}
.iphone-headline-normal {
	font-size:52px;
	}
.iphone-headline-small {
	font-size:28px;
	}		
.iphone-subheadline {
	margin-top:20px;
	font-size:42px;
	}
.iphone-body a {
	color:#08c;
	}	
.iphone-link-normal {
	margin-top:14px;
	font-size:24px;
	line-height:1.44;
	}
.iphone-link-small {
	margin-top:14px;
	font-size:19px;
	line-height:1.44;
	}			
.iphone-6s {
	padding-top:34px;
	padding-bottom:44px;
	}
.iphone-6s h2 {
	height:61px;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	background-repeat:no-repeat;
	background-image:url(../images/iphone/large/iphone_6s_logo_large.png);
	background-size:330px 61px;
	background-position:center top;
	}
.iphone-6s-image {
	height:765px;
	background-image:url(../images/iphone/large/hero_6s_large.png);
	background-size:1690px 765px;
	}
.iphone-6s-article {
	position:relative;
	top:56px;
	}
.iphone-trade-up {
	text-align:left;
	background-color:#fafafa;
	}
.iphone-trade-up-article-box {
	padding-right:140px;
	}	
.iphone-trade-up-article2,
.iphone-trade-up-article3 {
	margin-top:60px;
	}			
.iphone-trade-up-image {
	width:319px;
	height:650px;
	margin-left:92px;
	background-image:url(../images/iphone/large/trade_up_large.jpg);
	background-size:319px 650px;
	}
.iphone-upgrate {
	text-align:left;
	}
.iphone-upgrate-line {
	height:1px;
	width:262px;
	margin-top:50px;
	margin-bottom:50px;
	background-color:#d6d6d6;
	}		
.iphone-upgrate-image {
	position:relative;
	top:66px;
	width:901px;
	height:524px;
	margin-left:-449px;
	background-image:url(../images/iphone/large/the_iphone_plan_large.png);
	background-size:901px 524px;
	}
.carrier-financing {
	position:relative;
	top:40px;
	padding-top:20px;
	border-top:1px solid #d6d6d6;
	text-align:center;
	}	
.carrier-financing h4,
.carrier-financing ul,
.carrier-financing li {
	display:inline-block;
	vertical-align:middle;
	}
.carrier-financing h4,
.carrier-financing li {
	margin-right:24px;
	}
.carrier-financing li {
	padding-top:26px;
	white-space:nowrap;
	overflow:hidden;
	}	
.cf-at {
	width:51px;
	height:26px;
	background-image:url(../images/iphone/large/logo_att_large.jpg);
	background-repeat:no-repeat;
	}
.cf-sprint {
	width:56px;
	height:26px;
	background-image:url(../images/iphone/large/logo_sprint_large.jpg);
	background-repeat:no-repeat;
	}
.cf-t-mobile {
	width:75px;
	height:26px;
	background-image:url(../images/iphone/large/logo_tmobile_large.jpg);
	background-repeat:no-repeat;
	}
.cf-verizon {
	width:51px;
	height:26px;
	background-image:url(../images/iphone/large/logo_verizon_large.jpg);
	background-repeat:no-repeat;
	}
.iphone-why-switch {
	height:597px;
	background-image:url(../images/iphone/large/why_iphone_bg_large.jpg);
	background-size:1440px 597px;
	}
.iphone-why-switch>.container {
	height:100%;
	}
.iphone-ios9-icloud>.container>div.second,		
.iphone-why-switch>.container>div.second {
	position:relative;
	height:100%;
	}		
.iphone-ws-image {
	position:absolute;
	bottom:-90px;
	left:0;
	width:357px;
	height:538px;
	margin-left:-96px;
	background-image:url(../images/iphone/large/why_iphone_large.png);
	background-size:357px 538px;
	}
.iphone-why,
.iphone-switch {
	top:50%;
	}
.iphone-why {
	left:0;
	transform:translate(-30%,-50%);
	}
.iphone-switch {
	right:0;
	transform:translate(30%,-50%);
	}
.iphone-body .iphone-compare-models {
	padding-bottom:0;
	background-color:#fafafa;
	}		
.iphone-cm-image {
	height:392px;
	margin-top:40px;
	background-image:url(../images/iphone/large/compare_iphones_6s_large.jpg);
	background-size:853px 392px;
	}
.iphone-frome-one-gift {
	height:600px;
	background-image:url(../images/mac/large/gift_banner_large.jpg);
	background-size:2198px 780px;
	background-position:center bottom;
	}
.iphone-fog-article {
	position:relative;
	top:-30px;
	width:560px;
	margin-left:auto;
	margin-right:auto;
	}
.iphone-ios9-icloud {
	background-color:#fafafa;
	}
.iphone-ios9-icloud .container {
	height:897px;
	}		
.iphone-ii-image {
	position:relative;
	width:525px;
	height:867px;
	margin-left:-17px;
	background-image:url(../images/iphone/large/ios9_icloud_large.jpg);
	background-size:525px 867px;
	}
.iphone-ios9,
.iphone-icloud {
	top:50%;
	padding-right:30px;
	transform:translate(0,-50%);
	text-align:left;
	}
.iphone-icloud {
	left:50px;
	}	
.iphone-ios9-image {
	height:82px;
	background-image:url(../images/iphone/large/icon_ios_large.png);
	background-size:62px 62px;
	background-position:left top;
	}
.iphone-icloud-image {
	height:82px;
	background-image:url(../images/iphone/large/icon_icloud_large.png);
	background-size:62px 62px;
	background-position:left top;
	}
.iphone-pay {
	height:612px;
	background-repeat:no-repeat;
	background-image:url(../images/iphone/large/apple_pay_large.jpg);
	background-size:2563px 612px;
	background-position:center top;
	}
.iphone-pay .container {
	height:100%;
	}
.iphone-pay-article {
	position:relative;
	float:right;
	top:50%;
	transform:translateY(-50%);
	width:300px;
	}
.iphone-pay-article h2 {
	height:51px;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
	background-image:url(../images/iphone/large/apple_pay_logo_large.png);
	background-size:105px 51px;
	background-position:center top;
	}
.iphone-free-upgrade>.container>div {
	display:inline-block;
	width:50%;
	}
.iphone-free-upgrade .iphone-link-small.first {
	width:300px;
	margin-left:auto;
	margin-right:auto;
	}
.iphone-free-image {
	height:60px;
	background-image:url(../images/mac/large/icon_shipping_large.png);
	background-size:36px 40px;
	}
.iphone-upgrade-image {
	height:60px;
	background-image:url(../images/iphone/large/icon_upgrade_large.png);
	background-size:39px 39px;
	}
.iphone-access {
	height:600px;
	background-image:url(../images/iphone/large/accessories_for_iphone_light_large.jpg);
	background-size:2560px 600px;
	}
.iphone-access-article {
	position:absolute;
	left:0;
	right:0;
	bottom:100px;
	}
.iphone-applecare-image {
	height:143px;
	background-image:url(../images/iphone/large/icon_applecare_plus_large.png);
	background-size:113px 113px;
	}
.iphone-applecare .iphone-link-small.first {
	width:390px;
	margin-left:auto;
	margin-right:auto;
	}
.iphone-for-business,
.iphone-workshop {
	height:600px;
	color:#fff;
	background-size:1440px 600px;
	}
.iphone-for-business a,
.iphone-workshop a	{
	color:#fff;
	}
.iphone-workshop {
	margin-top:8px;
	}
.iphone-workshop .iphone-article-middle {
	width:530px;
	}		
.iphone-for-business {
	background-image:url(../images/iphone/large/iphone_for_business_large.jpg);
	}
.iphone-workshop {
	background-image:url(../images/iphone/large/iphone_workshops_6s_large.jpg);
	}																																				
/*pc端大屏1x 2x*/
@media only screen and (min-width:1440px){
	.iphone-why-switch {
		background-size:cover;
		}
	.iphone-for-business,
	.iphone-for-workshop {
		background-size:cover;
		}	
	}
	
/*PC端 2x retina*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
       only screen and (min-resolution: 1.5dppx),
	   only screen and (min-resolution: 144dpi){
		   
		.iphone-6s-image {
			   background-image:url(../images/iphone/large-2x/hero_6s_large_2x.png);
			   }
		.iphone-trade-up-image {
			  background-image:url(../images/iphone/large-2x/trade_up_large_2x.jpg);
			}
		.iphone-upgrate-image {
			background-image:url(../images/iphone/large-2x/the_iphone_plan_large_2x.png);
			}
		.iphone-ws-image {
			background-image:url(../images/iphone/large-2x/why_iphone_large_2x.png);
			}
		.iphone-why-switch {
			background-image:url(../images/iphone/large-2x/why_iphone_bg_large_2x.jpg);
			}
		.iphone-cm-image {
			background-image:url(../images/iphone/large-2x/compare_iphones_6s_large_2x.jpg);
			}
		.iphone-from-one-gift {
			background-image:url(../images/mac/large-2x/gift_banner_large_2x.jpg);
			}
		.iphone-ii-image {
			background-image:url(../images/iphone/large-2x/ios9_icloud_large_2x.jpg);
			}
		.iphone-icloud-image {
			background-image:url(../images/iphone/large-2x/icon_icloud_large_2x.png);
			}
		.iphone-ios9-image {
			background-image:url(../images/iphone/large-2x/icon_ios_large_2x.png);
			}
		.iphone-pay {
			background-image:url(../images/iphone/large-2x/apple_pay_large_2x.jpg);
			}
		.iphone-free-image {
			background-image:url(../images/mac/large-2x/icon_shipping_large_2x.png);
			}
		.iphone-upgrade-image {
			background-image:url(../images/iphone/large-2x/icon_upgrade_large_2x.png);
			}
		.iphone-access {
			background-image:url(../images/iphone/large-2x/accessories_for_iphone_light_large_2x.jpg);
			}
		.iphone-applecare-image {
			background-image:url(../images/iphone/large-2x/icon_applecare_plus_large_2x.png);
			}
		.iphone-for-business {
	        background-image:url(../images/iphone/large-2x/iphone_for_business_large_2x.jpg);
	        }
        .iphone-workshop {
	        background-image:url(../images/iphone/large-2x/iphone_workshops_6s_large_2x.jpg);
	        }															   
		   
		   }

/*m移动端 ipad 1x 2x*/
@media only screen and (max-width:1068px){
	.only-xm {
		display:none;
		}
	.only-lg {
		display:none;
		}
	.only-md {
		display:block;
		}
	.only-lg-md {
		display:block;
		}				
	.iphone-body section {
		padding-top:70px;
		padding-bottom:70px;
		}
	.iphone-6s {
		padding-top:0;
		}	
	.iphone-6s h2 {
		height:44px;
		background-image:url(../images/iphone/medium/iphone_6s_logo_medium.png);
		background-size:233px 44px;
		}
	.iphone-subheadline {
		font-size:32px;
		}
	.iphone-headline-normal {
		font-size:42px;
		}	
	.iphone-6s-image {
		height:569px;
		background-image:url(../images/iphone/medium/hero_6s_medium.png);
		background-size:1258px 569px;
		}
	.iphone-trade-up-image {
		width:259px;
		height:528px;
		margin-left:66px;
		background-image:url(../images/iphone/medium/trade_up_medium.jpg);
		background-size:259px 528px;
		}
	.iphone-trade-up-article-box {
		padding-right:110px;
		left:60px;
		}
	.iphone-trade-up-article1 {
		padding-top:0;
		}
	.iphone-trade-up-article2,
	.iphone-trade-up-article3 {
		margin-top:15px;
		}
	.iphone-upgrate-image {
		top:106px;
		margin-left:-260px;
		width:690px;
		height:401px;
		background-image:url(../images/iphone/medium/the_iphone_plan_medium.png);
		background-size:690px 401px;
		}
	.iphone-upgrate-article {
		left:30px;
		}
	.iphone-why-switch {
		height:452px;
		background-image:url(../images/iphone/medium/why_iphone_bg_medium.jpg);
		background-size:1068px 452px;
		}
	.iphone-ws-image {
		width:280px;
		height:403px;
		margin-left:-64px;
		background-image:url(../images/iphone/medium/why_iphone_medium.png);
		background-size:280px 403px;
		}
	.iphone-why {
		left:80px;
		}
	.iphone-switch {
		right:60px;
		}
	.iphone-cm-image {
		height:277px;
		background-image:url(../images/iphone/medium/compare_iphones_6s_medium.jpg);
		background-size:597px 277px;
		}
	.iphone-frome-one-gift {
		height:454px;
		background-image:url(../images/mac/middle/gift_banner_medium.jpg);
		background-size:1662px 630px;
		background-position:center bottom;
		}
	.iphone-frome-one-gift .iphone-link-small.paragraph {
		width:380px;
		margin-left:auto;
		margin-right:auto;
		}
	.iphone-ios9-icloud .container {
		padding:0 40px;
		}
	.iphone-ios9-icloud .container {
		height:auto;
		}		
	.iphone-ii-image {
		height:698px;
		margin-left:auto;
		background-image:url(../images/iphone/medium/ios9_icloud_medium.jpg);
		background-size:386px 638px;
		}
	.iphone-ios9,
	.iphone-icloud {
		left:auto;
		top:auto;
		transform:none;
		padding:0 30px;
		text-align:center;
		}
	.iphone-ios9-image,
	.iphone-icloud-image {
		background-position:center top;
		}
	.iphone-pay {
		height:452px;
		background-image:url(../images/iphone/medium/apple_pay_medium.jpg);
		background-size:1068px 452px;
		}
	.iphone-pay-article h2 {
		height:41px;
		background-image:url(../images/iphone/medium/apple_pay_logo_medium.png);
		background-size:85px 41px;
		}
	.iphone-applecare-image {
		height:120px;
		background-image:url(../images/iphone/medium/icon_applecare_plus_medium.png);
		background-size:97px 97px;
		}
	.iphone-for-business,
	.iphone-workshop {
		height:452px;
		background-size:1068px 452px;
		}
	.iphone-for-business {
		background-image:url(../images/iphone/medium/iphone_for_business_medium.jpg);
		}
	.iphone-workshop {
		background-image:url(../images/iphone/medium/iphone_workshops_6s_medium.jpg);
		}																										
	}

/*m移动端 ipad 2x retina*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 1068px), 
       only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
	   only screen and (max-width: 1068px) and (min-resolution: 144dpi){
		   
		   .iphone-6s h2 {
			   background-image:url(../images/iphone/medium-2x/iphone_6s_logo_medium_2x.png);
			   }
			.iphone-6s-image {
				background-image:url(../images/iphone/medium-2x/hero_6s_medium_2x.png);
				}  
			.iphone-trade-up-image {
				background-image:url(../images/iphone/medium-2x/trade_up_medium_2x.jpg);
				}	 
		   .iphone-upgrate-image {
			   background-image:url(../images/iphone/medium-2x/the_iphone_plan_medium_2x.png);
			   }
			.iphone-why-switch {
				background-image:url(../images/iphone/medium-2x/why_iphone_bg_medium_2x.jpg);
				}
			.iphone-ws-image {
				background-image:url(../images/iphone/medium-2x/why_iphone_medium_2x.png);
				}
			.iphone-cm-image {
				background-image:url(../images/iphone/medium-2x/compare_iphones_6s_medium_2x.jpg);
				}
			.iphone-frome-one-gift {
				background-image:url(../images/mac/middle-2x/gift_banner_medium_2x.jpg);
				}
			.background-ii-image {
				background-image:url(../images/iphone/medium-2x/ios9_icloud_medium_2x.jpg);
				}
			.iphone-pay {
				background-image:url(../images/iphone/medium-2x/apple_pay_medium_2x.jpg);
				}
			.iphone-pay-article h2 {
				background-image:url(../images/iphone/medium-2x/apple_pay_logo_medium_2x.png);
				}
			.iphone-applecare-image {
				background-image:url(../images/iphone/medium-2x/icon_applecare_plus_medium_2x.png);
				}
			.iphone-for-business {
				background-image:url(../images/iphone/medium-2x/iphone_for_business_medium_2x.jpg)
				}			
			.iphone-workshop {
				background-image:url(../images/iphone/medium-2x/iphone_workshops_6s_medium_2x.jpg);
				}						   
		   }

/*x移动端 2x 1x */		   
@media only screen and (max-width:735px) {
	.only-lg-md,
	.only-lg,
	.only-md {
		display:none;
		}
	.only-xm {
		display:block;
		}	
	.iphone-link-normal {
		margin-top:12px;
		font-size:20px;
		}
	.iphone-link-small {
		margin-top:12px;
		font-size:18px;
		}		
	.iphone-subheadline {
		margin-top:14px;
		font-size:24px;
		}
	.iphone-headline-normal {
		font-size:32px;
		}
	.iphone-headline-small {
		font-size:24px;
		}	
	.iphone-body section {
		padding-top:50px;
		padding-bottom:50px;
		}		
	.iphone-6s h2 {
		height:31px;
		background-image:url(../images/iphone/small/iphone_6s_logo_small.png);
		background-size:166px 31px;
		}
	.iphone-6s-article {
		padding-left:20px;
		padding-right:20px;
		}		
	.iphone-6s-image {
		height:611px;
		margin-top:80px;
		padding-left:60px;
		background-origin:content-box;
		background-image:url(../images/iphone/small/hero_6s_small.png);
		background-size:432px 611px;
		}
	.iphone-trade-up .container {
		padding-left:20px;
		padding-right:20px;
		}
	.iphone-trade-up-image {
		height:233px;
		margin-left:0px;
		margin-top:36px;
		background-image:url(../images/iphone/small/trade_up_small.jpg);
		background-size:114px 233px;
		background-position:left center;
		}
	.iphone-trade-up-article-box {
		padding:0;
		left:0;
		}
	.iphone-upgrate .container:first-child {
		padding-left:20px;
		padding-right:20px;
		}
	.iphone-upgrate-image {
		height:297px;
		position:static;
		margin-left:-32px;
		background-image:url(../images/iphone/small/the_iphone_plan_small.png);
		background-size:511px 297px;
		background-position:left top;
		}
	.iphone-upgrate-article {
		left:auto;
		}
	.carrier-financing li {
		margin-right:12px;
		}
	.iphone-why-switch {
		height:770px;
		background-image:url(../images/iphone/small/why_iphone_bg_small.jpg);
		background-size:736px 770px;
		}	
	.iphone-why,
	.iphone-switch {
		position:static;
		margin:0;
		transform:none;
		}
	.iphone-switch {
		margin-top:-20px;
		}											
	.iphone-why-switch>.container>div.second {
		height:auto;
		}
	.iphone-ws-image {
		position:static;
		width:auto;
		height:490px;
		margin:0;
		background-image:url(../images/iphone/small/why_iphone_small.png);
		background-size:271px 490px;
		}
	.iphone-cm-article {
		padding-left:20px;
		padding-right:20px;
		}
	.iphone-cm-image {
		height:276px;
		background-image:url(../images/iphone/small/compare_iphones_6s_small.jpg);
		background-size:291px 276px;
		}
	.iphone-frome-one-gift {
		height:766px;
		background-color:#e9e9e9;
		background-image:url(../images/mac/small/gift_banner_small.jpg);
		background-size:736px 462px;
		}	
	.iphone-fog-article {
		top:0px;
		width:auto;
		padding-left:20px;
		padding-right:20px;
		}
	.iphone-frome-one-gift .pointer-right {
		padding-right:0;
		}	
	.iphone-frome-one-gift .iphone-link-small.paragraph {
		width:auto;
		}
	.iphone-frome-one-gift .iphone-link-small.small {
		line-height:1.8;
		}
	.iphone-ii-image {
		width:auto;
		height:466px;
		background-image:url(../images/iphone/small/ios9_icloud_small.jpg);
		background-size:282px 466px;
		}
	.iphone-ios9,
	.iphone-icloud {
		margin-top:60px;
		padding:0;
		}
	.iphone-ios9-icloud .container {
		padding:0 20px;
		}
	.iphone-pay {
		height:763px;
		background-image:url(../images/iphone/small/apple_pay_small.jpg);
		background-size:736px 763px;
		}		
	.iphone-pay-article {
		position:static;
		float:none;
		transform:none;
		margin-top:20px;
		width:auto;
		padding-left:20px;
		padding-right:20px;
		}
	.iphone-free-upgrade>.container>div {
		display:block;
		width:auto;
		}
	.iphone-free-upgrade .iphone-link-small.first {
		width:auto;
		padding-left:20px;
		padding-right:20px;
		}
	.iphone-free {
		margin-bottom:50px;
		}
	.iphone-access {
		height:452px;
		background-image:url(../images/iphone/small/accessories_for_iphone_light_small.jpg);
		background-size:736px 452px;
		}
	.iphone-access-article {
		bottom:60px;
		}
	.iphone-applecare .iphone-link-small.first {
		width:auto;
		padding-left:20px;
		padding-right:20px;
		}
	.iphone-workshop,
	.iphone-for-business {
		height:auto;
		background:none;
		}
	.iphone-workshop-image {
		height:292px;
		background-image:url(../images/iphone/small/iphone_for_business_small.jpg);
		background-size:736px 292px;
		}
	.iphone-fb-image {
		height:292px;
		background-image:url(../images/iphone/small/iphone_workshops_6s_small.jpg);
		background-size:736px 292px;
		}
	.iphone-body .iphone-workshop,
	.iphone-body .iphone-for-business {
		padding-top:0;
		}	
	.iphone-workshop .iphone-article-middle,
	.iphone-for-business .iphone-article-middle {
		position:static;
		transform:none;
		width:auto;
		margin-top:30px;
		padding-left:20px;
		padding-right:20px;
		text-align:left;
		color:#333;
		}	
	.iphone-workshop a,
	.iphone-for-business a {
		color:#08c;
		}																							
	}

/*x移动端 2x retina屏*/	
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 735px),
       only screen and (max-width: 735px) and (min-resolution: 144dpi), 
	   only screen and (-webkit-min-device-pixel-ratio: 144) and (max-width: 735px), 
	   only screen and (max-width: 735px) and (min-resolution: 144dppx){
		   
		.iphone-6s h2 {
			   background-image:url(../images/iphone/small-2x/iphone_6s_logo_small_2x.png);
			}
		.iphone-6s-image {
			background-image:url(../images/iphone/small-2x/hero_6s_small_2x.png);
			}
		.iphone-trade-up-image {
			background-image:url(../images/iphone/small-2x/trade_up_small_2x.jpg);
			}
		.iphone-upgrate-image {
			background-image:url(../images/iphone/small-2x/the_iphone_plan_small_2x.png);
			}			   
		.iphone-why-switch {
			background-image:url(../images/iphone/small-2x/why_iphone_bg_small_2x.jpg);
			}
		.iphone-ws-image {
			background-image:url(../images/iphone/small-2x/why_iphone_small_2x.png);
			}
		.iphone-cm-image {
			background-image:url(../images/iphone/small-2x/compare_iphones_6s_small_2x.jpg);
			}
		.iphone-frome-one-gift {
			background-image:url(../images/mac/small-2x/gift_banner_small_2x.jpg);
			}
		.iphone-ii-image {
			background-image:url(../images/iphone/small-2x/ios9_icloud_small_2x.jpg);
			}
		.iphone-pay {
			background-image:url(../images/iphone/small-2x/apple_pay_small_2x.jpg);
			}
		.iphone-access {
			background-image:url(../images/iphone/small-2x/accessories_for_iphone_light_small_2x.jpg);
			}
		.iphone-workshop-image {
			background-image:url(../images/iphone/small/iphone_workshops_6s_small.jpg);
			}
		.iphone-fb-image {
			background-image:url(../images/iphone/small/iphone_for_business_small.jpg);
			}		
									   
		   }											
